@model Shop.Application.Common.PagedResult.OrderPagedResult<Shop.Application.Order.OrderDto>;

@{
    ViewData["Title"] = "AllOrders";
}

<h1>Panel zarządzania zamówieniami</h1>

<div>
    <a><b>Łączna liczba zamówień w bazie: @Model.TotalItemsCount</b></a>
</div>

<form method="post" action="/Order/All">
    <div class="form-group">
        <label for="searchPhrase">Wyszukaj:</label>
        <input type="text" class="form-control" id="searchPhrase" name="searchPhrase" placeholder="Wpisz frazę..." />
    </div>
    <button type="submit" class="btn btn-primary">Szukaj</button>
</form>

<form method="post" action="/Order/All">
    <div class="button-group">
        <button type="submit" name="orderStatus" value="Pending" class="btn btn-outline-secondary">Złożone Zamówienia</button>
        <button type="submit" name="orderStatus" value="Cancelled" class="btn btn-outline-secondary">Anulowane Zamówienia</button>
        <button type="submit" name="orderStatus" value="Shipped" class="btn btn-outline-secondary">Wysłane Zamówienia</button>
        <button type="submit" name="orderStatus" value="Delivered" class="btn btn-outline-secondary">Zrealizowane Zamówienia</button>
    </div>
</form>

<div>
    @if (User.Identity.IsAuthenticated)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <a>Imie</a>
                    </th>
                    <th>
                        <a>Nazwisko</a>
                    </th>
                    <th>
                        <a>Adres email</a>
                    </th>
                    <th>
                        <a>Data złożenia</a>
                    </th>
                    <th>
                        <a>Opłacone</a>
                    </th>
                    <th>
                        <a>Szczegóły zamówienia</a>
                    </th>
                    <th>
                        <a>Status zamówienia</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Objects)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelTime => item.OrderDate)
                        </td>
                        <td>
                            @if (item.IsPaid == true)
                            {
                                <a class="btn btn-success">Tak</a>
                            }
                            else
                            {
                                <a class="btn btn-danger">Nie</a>
                            }
                        </td>
                        <td>
                            <a class="btn btn-primary" asp-controller="Order" asp-action="Details" asp-route-orderId="@item.Id">Szczegóły</a>
                        </td>
                        <td>
                            @if (User.IsInRole("Owner"))
                            {
                                @if (item.OrderStatus.ToString() == "Pending")
                                {
                                    <form asp-action="CancelOrderByAdmin" method="post">
                                        <input type="hidden" name="OrderId" value="@item.Id" />
                                        <button type="submit" class="btn btn-warning">Anuluj zamówienie</button>
                                    </form>
                                    @if (User.IsInRole("Owner"))
                                    {
                                        <form asp-action="Ship" method="post">
                                            <input type="hidden" name="OrderId" value="@item.Id" />
                                            <button type="submit" class="btn btn-warning">Oznacz jako wysłane</button>
                                        </form>
                                    }

                                }
                                else if (item.OrderStatus.ToString() == "Cancelled")
                                {
                                    <a class="btn btn-danger">Zamówienie anulowane.</a>
                                }
                                else if (item.OrderStatus.ToString() == "Shipped")
                                {
                                    <a class="btn btn-info">Zamówienie jest realizowane.</a>

                                    <form asp-action="Complete" method="post">
                                        <input type="hidden" name="OrderId" value="@item.Id" />
                                        <button type="submit" class="btn btn-warning">Oznacz jako zrealizowane.</button>
                                    </form>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-success">Zamówienie zrealizowane.</button>
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="row">
            <div class="col-md-12">
                <p>Wyświetlane elementy od @Model.ItemsFrom do @Model.ItemsTo z @Model.TotalItemsCount</p>
                <ul class="pagination">
                    @for (var i = 1; i <= Model.TotalPages; i++)
                    {
                        <li class="page-item @(Model.CurrentPage == i ? "active" : "")">
                            <a class="page-link" href="@Url.Action("AllOrders", new { PageNumber = i, PageSize = Model.PageSize, searchPhrase = ViewData["SearchPhrase"], orderStatus = ViewData["orderStatus"]})">@i</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    }
    else
    {
        <div>
            <p>Tylko zalogowani użytkownicy mogą wyświetlać historię zamówień.</p>
        </div>
    }

</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
</div>
