@model Shop.Application.Item.ItemDto

@{
    ViewData["Title"] = "Details";
}

<h1>Szczegóły</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>     
    </dl>
</div>
<div>
    <img src="~/Images/@Model.ProductImage" width="250" height="250" asp-append-version="true">
</div>
<div>
    @if (User.IsInRole("Owner"))
    {
        <a class="btn btn-primary" asp-controller="Item" asp-action="Edit" asp-route-encodedName="@Model.EncodedName">Edycja</a>
        <form asp-action="Delete" method="post">
            <input type="hidden" name="encodedName" value="@Model.EncodedName" />
        <button type="submit" class="btn btn-danger">Usuń</button>
    </form>
    }
    <a asp-action="Index">Back to List</a>
</div>
