<h2>Lista Elementów</h2>


<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nazwa</th>
            <!-- Dodaj tutaj nagłówki dla innych kolumn -->
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.Name</td>
                <!-- Dodaj tutaj odpowiednie dane dla innych kolumn -->
            </tr>
        }
    </tbody>
</table>

<div class="row">
    <div class="col-md-12">
        <p>Wyświetlane elementy od @Model.ItemsFrom do @Model.ItemsTo z @Model.TotalItemsCount</p>
        <ul class="pagination">
            @for (var i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(Model.CurrentPage == i ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { PageNumber = i, PageSize = Model.PageSize })">@i</a>
                </li>
            }
        </ul>
    </div>
</div>