@model Shop.Application.Item.PagedResult;

<h2>Lista Elementów</h2>

<form method="post" action="/Item/Index">
    <div class="form-group">
        <label for="searchPhrase">Wyszukaj:</label>
        <input type="text" class="form-control" id="searchPhrase" name="searchPhrase" placeholder="Wpisz frazę..." />
    </div>
    <button type="submit" class="btn btn-primary">Szukaj</button>
</form>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nazwa</th>
            <th>Opis</th>
            <th>Zdjęcie</th>
            <th>Cena</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.ProductImage</td>
                <td>@item.Price</td>
                <td width="50px">
                <a class="btn btn-primary" asp-controller="Item" asp-action="Details" asp-route-encodedName="@item.EncodedName">Szczegóły</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="row">
    <div class="col-md-12">
        <p>Wyświetlane elementy od @Model.ItemsFrom do @Model.ItemsTo z @Model.TotalItemsCount</p>
        <ul class="pagination">
            @for (var i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(Model.CurrentPage == i ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { PageNumber = i, PageSize = Model.PageSize, searchPhrase = ViewData["SearchPhrase"]})">@i</a>
                </li>
            }
        </ul>
    </div>
</div>