@model Shop.Application.Common.PagedResult.ItemPagedResult<Shop.Application.Item.ItemDto>;

<div class="d-flex justify-content-between align-items-center mb-3">
    <form method="post" action="/Item/Index" class="flex-grow-1 me-2">
        <div class="input-group">
            <input type="text" class="form-control rounded-end" id="searchPhrase" name="searchPhrase" style="border-radius: 10px; font-size: 14px;" placeholder="Szukaj w ShopifySphere" />
            <button type="submit" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                </svg>
            </button>
        </div>
    </form>

    <form method="post" action="/Item/Index" class="flex-shrink-1">
        @using (Html.BeginForm("Index", "Item", FormMethod.Get))
        {
            <label for="SortBy" class="form-label">Sortuj według:</label>
            <div class="row align-items-center">
                <div class="col-auto">
                    
                    <select id="SortBy" name="SortBy" class="form-select">
                        <option value="Name">Nazwa</option>
                        <option value="Category">Kategoria</option>
                        <option value="Price">Cena</option>
                    </select>
                </div>

                <div class="col-auto">
                    <select id="SortDirection" name="SortDirection" class="form-select">
                        <option value="ASC">Rosnąco</option>
                        <option value="DESC">Malejąco</option>
                    </select>
                </div>

                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Sortuj</button>
                </div>
            </div>
        }
    </form>
</div>


<form method="post" action="/Item/Index">
    <div class="category-buttons">
        @foreach (var category in Model.Categories)
        {
            <button type="submit" name="selectedCategory" value="@category.Name" class="btn btn-outline-primary">@category.Name</button>
        }
    </div>
</form>

<br />

<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var item in Model.Objects)
    {
        <div class="col">
            <div class="card h-100">
                <img src="~/Images/@item.ProductImage" class="card-img-top" alt="@item.Name">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.Description</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Ilość dostępnych: @item.StockQuantity</li>
                    <li class="list-group-item">Cena: @item.Price zł</li>
                </ul>
                <div class="card-body d-flex justify-content-between align-items-center">
                    <a href="@Url.Action("Details", "Item", new { encodedName = item.EncodedName })" class="btn btn-primary me-2">Szczegóły</a>
                    <form asp-controller="Cart" asp-action="AddItem" method="post">
                        <input type="hidden" name="encodedName" value="@item.EncodedName" />
                        <button type="submit" class="btn btn-danger">Dodaj do koszyka</button>
                    </form>
                </div>

            </div>
        </div>
    }
</div>



<div class="row">
    <div class="col-md-12">
        <p>Wyświetlane elementy od @Model.ItemsFrom do @Model.ItemsTo z @Model.TotalItemsCount</p>
        <ul class="pagination">
            @for (var i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(Model.CurrentPage == i ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { PageNumber = i, PageSize = Model.PageSize, searchPhrase = ViewData["SearchPhrase"], selectedCategory = ViewData["SelectedCategory"] })">@i</a>
                </li>
            }
        </ul>
    </div>
</div>

<style>
    .category-buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 5px; /* Odstęp między przyciskami */
        justify-content: space-between; /* Rozłożenie przycisków na pełną szerokość */
        width: 100%;
    }

    .category-btn {
        width: calc(33.33% - 5px); /* Szerokość przycisku (33.33% dla równego rozłożenia na trzy kolumny) */
    }

    .form-label {
        margin-bottom: 0.5rem;
    }

    .col-auto {
        margin-bottom: 1rem;
    }
</style>