@model Shop.Application.Item.PagedResult;

<h2>Lista Elementów</h2>

<form method="post" action="/Item/Index">
    <div class="form-group">
        <label for="searchPhrase">Wyszukaj:</label>
        <input type="text" class="form-control" id="searchPhrase" name="searchPhrase" placeholder="Wpisz frazę..." />
    </div>
    <button type="submit" class="btn btn-primary">Szukaj</button>
</form>

<form method="post" action="/Item/Index">
    @using (Html.BeginForm("Index", "Item", FormMethod.Get))
    {
        <label for="SortBy">Sortuj według:</label>
        <select id="SortBy" name="SortBy">
            <option value="Name">Nazwa</option>
            <option value="Category">Kategoria</option>
            <option value="Price">Cena</option>
        </select>

        <label for="SortDirection">Kierunek:</label>
        <select id="SortDirection" name="SortDirection">
            <option value="ASC">Rosnąco</option>
            <option value="DESC">Malejąco</option>
        </select>
        <button type="submit">Sortuj</button>
    }
</form>
<form method="post" action="/Item/Index">
        <label for="selectedCategory">Kategoria:</label>
        <select id="selectedCategory" name="selectedCategory" >
            @foreach (var category in Model.Categories)
            {
                <option value="@category.Name">@category.Name</option>
            }
        </select>

        <button type="submit">Wyszukaj po kategorii</button>
</form>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nazwa</th>
            <th>Kategoria</th>
            <th>Opis</th>
            <th>Zdjęcie</th>
            <th>Cena</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Category.Name</td>
                <td>@item.Description</td>
                <td>@item.ProductImage</td>
                <td>@item.Price zł</td>
                <td width="50px">
                <a class="btn btn-primary" asp-controller="Item" asp-action="Details" asp-route-encodedName="@item.EncodedName">Szczegóły</a>
                    <form asp-controller="Cart" asp-action="AddItem" method="post">
                        <input type="hidden" name="encodedName" value="@item.EncodedName" />
                        <button type="submit" class="btn btn-danger">Dodaj do koszyka</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="row">
    <div class="col-md-12">
        <p>Wyświetlane elementy od @Model.ItemsFrom do @Model.ItemsTo z @Model.TotalItemsCount</p>
        <ul class="pagination">
            @for (var i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(Model.CurrentPage == i ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { PageNumber = i, PageSize = Model.PageSize, searchPhrase = ViewData["SearchPhrase"], selectedCategory = ViewData["SelectedCategory"] })">@i</a>
                </li>
            }
        </ul>
    </div>
</div>