@model Shop.Application.Cart.CartDto

@{
    ViewData["Title"] = "Kosz";
}

<div>
    <h4>Kosz z zakupami</h4>
    <hr />
    <!-- Pozostała część widoku -->
</div>

<div>
@if (Model.CartItems != null && Model.CartItems.Any())
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nazwa</th>
                <th>Cena za sztukę</th>
                <th>Ilość</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CartItems)
            {
                <tr>
                    <td>@item.Item.Name</td>
                    <td>@item.Item.Price zł</td>
                    <td>
                        <form asp-action="UpdateItemQuantity" method="post">
                            <input type="hidden" name="Id" value="@item.Id" />
                            <input type="number" name="Quantity" value="@item.Quantity" min="1" /> 
                            <button type="submit" class="btn btn-primary">Aktualizuj</button>
                        </form>
                    </td>
                    <td>
                        <form asp-action="DeleteItem" method="post">
                            <input type="hidden" name="Id" value="@item.Id" />
                            <button type="submit" class="btn btn-danger">Usuń</button>
                        </form>
                    </td>
                </tr>
            }
    </table>

    <span>Koszt łącznie: @Model.CartTotal zł</span>
}
else
{
    <p>Koszyk jest pusty</p>
    }
</div>