@model Shop.Application.Cart.CartDto

@{
    ViewData["Title"] = "Kosz";
}

<div>
    <h4>Kosz z zakupami</h4>
    <hr />
    <!-- Pozostała część widoku -->
</div>

<div>
@if (Model.CartItems != null && Model.CartItems.Any())
{
        <ul class="list-group mb-3">
            @foreach (var item in Model.CartItems)
            {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        <span class="fw-bold">@item.Item.Name</span>
                        <br />
                        Cena za sztukę: @item.Item.Price zł
                    </div>
                    <div>
                        <form asp-action="UpdateItemQuantity" method="post" class="d-flex align-items-center">
                            <input type="hidden" name="Id" value="@item.Id" />
                            <input type="number" name="Quantity" value="@item.Quantity" min="1" class="form-control me-2" style="width: 60px;" />
                            <button type="submit" class="btn btn-primary">Aktualizuj</button>
                        </form>
                    </div>
                    <div>
                        Cena za całość: @item.UnitPrice
                    </div>
                    <div>
                        
                        <form asp-action="DeleteItem" method="post">
                            <input type="hidden" name="Id" value="@item.Id" />
                            <button type="submit" class="btn btn-danger ms-2">Usuń z koszyka</button>
                        </form>
                    </div>
                </li>
            }
        </ul>

        <div class="mb-3">
            <span class="fw-bold">Koszt łącznie:</span> @Model.CartTotal zł
        </div>

        <div>
            <a asp-action="CreateOrder" class="btn btn-success">Złóż zamówienie</a>
        </div>

}
else
{
    <p>Koszyk jest pusty</p>
    }
</div>